<div class="grid">
  <div class="card">
    <div class="card-title">Diretrizes e Procedimentos</div>
    <div class="row g-3">
      <div class="col-md-6 mb-3">
        <div class="noticia-box">
          <h5><strong>Plano Plurianual - PPA</strong></h5>
          <small class="text-muted">Plano Plurianual - PPA 2024-2027</small>
          <p>Disponível em
            <a href="https://drive.google.com/file/d/1d6gelgl1S732s4U1g0bSrbrpR5Od2_gS/view?pli=1" target="_blank" rel="noopener noreferrer">
              Plano Plurianual - PPA
            </a>
          </p>
        </div>
      </div>

      <div class="col-md-6 mb-3">
        <div class="noticia-box">
          <h5><strong>MTPO-2026</strong></h5>
          <small class="text-muted">Manual Técnico de Planejamento e Orçamento</small>
          <p>Disponível em
            <a href="https://seplag.mt.gov.br/images/files/responsive/Planejamento/2025/PTA_2026/MTPO_2026_ATUALIZADO_13-7-251_1-pdf_FINAL.pdf" target="_blank" rel="noopener noreferrer">
              MTPO-2026
            </a>
          </p>
        </div>
      </div>
    </div>

    <div class="row g-3">
      <div class="col-md-6 mb-3">
        <div class="noticia-box">
          <h5><strong>Lei de Diretrizes Orçamentárias (LDO)</strong></h5>
          <small class="text-muted">Projeto de Lei de Diretrizes Orçamentárias (PLDO) de 2026</small>
          <p>Disponível em
            <a href="https://www5.sefaz.mt.gov.br/orcamento?c=11387798&e=72706241" target="_blank" rel="noopener noreferrer">
              LDO 2026
            </a>
          </p>
        </div>
      </div>

      <div class="col-md-6 mb-3">
        <div class="noticia-box">
          <h5><strong>Audiências Públicas</strong></h5>
          <small class="text-muted">Consultas e Audiências Públicas</small>
          <p>Disponível em
            <a href="https://www5.sefaz.mt.gov.br/orcamento?c=16582978&e=16590508" target="_blank" rel="noopener noreferrer">
              Audiências Públicas
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
