<div class="grid">
  <div class="card">
    <div class="card-title">Repositório de Arquivos</div>
    <div class="row g-3">
      <div class="col-md-6 mb-3">
        <div class="noticia-box">
          <h5><strong>SPO - Materiais para consultas</strong></h5>
          <small class="text-muted">Drive SPO @edu</small>
          <p>Disponível em
            <a href="https://drive.google.com/drive/folders/1yso8e02NjzKCniPDI1O2glGBY85EWh-S?usp=sharing" target="_blank" rel="noopener noreferrer">
              Drive Material
            </a>
          </p>
        </div>
      </div>
    </div>

    <div class="row g-3">
      <div class="col-md-6 mb-3">
        <div class="noticia-box">
          <h5><strong>SEPLAG-MT</strong></h5>
          <small class="text-muted">Portal de Planejamento</small>
          <p>Disponível em
            <a href="https://seplag.mt.gov.br/index.php?pg=categorias&c=108" target="_blank" rel="noopener noreferrer">
              SEPLAG-MT
            </a>
          </p>
        </div>
      </div>

      <div class="col-md-6 mb-3">
        <div class="noticia-box">
          <h5><strong>FIPLAN</strong></h5>
          <small class="text-muted">Sistema integrado de Planejamento, Contabilidade e Finanças do Estado-MT</small>
          <p>Disponível em
            <a href="https://www.fiplan.mt.gov.br/Fiplan.jsp" target="_blank" rel="noopener noreferrer">
              FIPLAN-MT
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
