<div class="grid">
  <div class="card">
    <div class="card-title">Rede de Parceiros</div>
    <div class="row g-3">
      <div class="col-md-6 mb-3">
        <div class="noticia-box">
          <h5><strong>DADOS MT</strong></h5>
          <small class="text-muted">DADOSMT.gov.br</small>
          <p>
            Iniciativa da SEPLAG-MT disponível em
            <a href="https://www.dados.mt.gov.br/" target="_blank" rel="noopener noreferrer">
              DADOS MT
            </a>
          </p>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <div class="noticia-box">
          <h5><strong>Entregas MT</strong></h5>
          <small class="text-muted">Login Padrão</small>
          <p>
            disponível em
            <a href="https://gabgov.mt.gov.br/entregas/login.xhtml" target="_blank" rel="noopener noreferrer">
              Entregas/MT
            </a>
          </p>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <div class="noticia-box">
          <h5><strong>Entregas MT - Cidadão</strong></h5>
          <small class="text-muted">Acesso Público</small>
          <p>
            disponível em
            <a href="https://gabgov.mt.gov.br/entregas/publica/entregasmtcidadao.xhtml" target="_blank" rel="noopener noreferrer">
              Entregas/MT
            </a>
          </p>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <div class="noticia-box">
          <h5><strong>Painel SAAS</strong></h5>
          <small class="text-muted">Execução Orçamentária</small>
          <p>Disponível em
            <a href="https://app.powerbi.com/view?r=eyJrIjoiNTkzY2ViMjQtYjAxOC00N2Y5LThkMDMtYzU3ZWQ2ZGRmOTI2IiwidCI6IjRiODE2MzM4LWYxYmYtNDhlMC1hYWVhLTc4YTZiN2I4ZjRiOSJ9" target="_blank" rel="noopener noreferrer">
              Painel SAAS
            </a>
          </p>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <div class="noticia-box">
          <h5><strong>Portal da Transparência</strong></h5>
          <small class="text-muted">Portal da Transparência Geral</small>
          <p>
            disponível em
            <a href="https://www.transparencia.mt.gov.br/" target="_blank" rel="noopener noreferrer">
              Portal Transparência
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
